.row {
  padding: 10px;
}

.store_button
{  
    margin: 5px 0px 5px 0px;
    width: 139px;
    max-width: 139px;
    height: 41px;
    max-height: 41px;
}

.jumbotron
{
    background-color: white;
}

.centered
{
    text-align:center;
}

.col-lg-3
{
    margin-bottom: 10px;
}

.hr {
    margin-top: 30px;
    margin-bottom: 0px;
}

.footer {
    margin:0px;
}