html {
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: sans-serif;
    padding: 1.4em;
}

.centered-text {
    text-align: center;
}

img, .store_button, .app-icon {
    display: inline-block;
    margin: 0 auto; /* Centers inline-block elements */
}

table {
    width: 100%; /* Optional: to ensure table takes full width */
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}

a {
    color: var(--link-color);
}


.store_button {  
    width: 139px;
    height: 41px;
}

.center-cell {
    text-align: center; /* Horizontally center content */
    vertical-align: middle; /* Vertically center content */
}

.center-cell * {
    margin-left: auto;
    margin-right: auto;
    display: block; /* This makes elements like images and paragraphs take full width and respect centering */
}

.center-margins {
    margin-left: auto;
    margin-right: auto;
}

.screenshot {
    border-radius: 20.75pt;
    width:  320; 
}
.screenshot-small {
    border-radius: 20.75pt;
    width:  256; 
}

.padded10 {
    padding: 10;
}

.app-icon {
    border-radius: 35.78125px;
    width: 160px;
    height: 160px;
}