    <!-- Footer -->
    <footer>
        <div class="footer-links">
            <a href="{{footerHomeUrl}}">{{footer.home}}</a>
            <a href="{{langPrefix}}/about/">{{footer.about}}</a>
            <a href="mailto:support@feeltracker.com">{{footer.emailSupport}}</a>
            <a href="{{langPrefix}}/support/">{{footer.support}}</a>
            <a href="{{langPrefix}}/faq/">{{footer.faq}}</a>
            <a href="https://x.com/feeltracker">{{footer.followOnX}}</a>
            <a href="{{langPrefix}}/privacy/">{{footer.privacyPolicy}}</a>
            <a href="{{langPrefix}}/terms/">{{footer.termsAndConditions}}</a>
        </div>
        <p class="footer-copyright">{{footer.copyright}}</p>
        <p class="footer-tagline">{{footer.tagline}}</p>
        <p class="footer-disclaimer">{{footer.disclaimer}}</p>
    </footer>
