body {
    font-family: sans-serif;
    padding:1.5em;
}

a {
    color: var(--link-color);
}

:root {
  color-scheme: light dark;
  --font-color: #000000;
  --background-color: #FFFFFF;
  --link-color: MediumBlue;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --font-color: #FFFFFF;
    --background-color: #000000;
    --link-color: LightBlue;
  }
}