html {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: sans-serif;
    padding:1.4em;
}

a {
    color: var(--link-color);
}

:root {
  color-scheme: light dark;
  --font-color: #000000;
  --background-color: #FFFFFF;
  --link-color: MediumBlue;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --font-color: #FFFFFF;
    --background-color: #000000;
    --link-color: LightBlue;
  }
}

.store_button {  
    margin: 5px 0px 5px 0px;
    width: 139px;
    max-width: 139px;
    height: 41px;
    max-height: 41px;
}

.center-text {
    text-align:center;
}

.center-margins {
    margin-left: auto;
    margin-right: auto;
}

th, td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}